/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html {
   position: relative;
   min-height: 100%;
   font-size: 62.5%;
   color: #322D2A;
 }
 body {
   text-align: center;
 }
 li{
    list-style:none;
    font-size: 1.5rem;
 }
 ul{
    padding:0;
 }
 a {
   display: block;
   font-size: 1.3rem;
   text-decoration: none;
   font-weight: bold;
   color: #322D2A;
   padding: 0px 3px;
 }
 table {
   margin-left: auto;
   margin-right: auto;
 }
 th {
   border: 1px solid #320001;
   font-size: 1.5rem;
 }
 td {
   border: 1px solid #808080;
   font-size: 1.5rem;
 }
 h2{
   font-weight: normal;
   color: #3A1F12;
 }
 .title {
   color: #322D2A;
 }
 img {
   width: 400px;
   height: auto;
 }
.link {
  display: flex;
  }
.field {
  display: flex;
  justify-content: center;
 }
label {
  font-size: 1.3rem;
 }
